@font-face {
  font-family: 'TT Commons';
  src:
    local('TT Commons Regular'),
    local('TTCommons-Regular'),
    url('../fonts/TTCommons-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
